table{
    width: 100%;
    font-family: 'azedobold';
    font-size: large;
    margin-bottom: 50px;
  }
  
  table th{
    position: relative;
    text-align: left;
    width: 20%;
    
  }
  
  table th:after{
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background-color: rgb(10, 114, 133);
    position: absolute;
    top:calc(50% - 1px);
    right:20px;
  }
  
  table td{
    text-align: left;
    width: 100%;
  }
